@charset "utf-8";
.newAdded {
	z-index: 2;
}
.single {
	width: auto;
}
.poster {
	float: left;
	height: 58px;
	width: 58px;
	margin: 1px;
	display: block;
}
.singleImage {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.snapFrame {
	background-image: url(images/snapframe.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 60px;
	width: 60px;
	display: block;
}
#divTop{
	width:auto;
	text-align:left;
	height: 323px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	z-index: 1;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-position: top;
}
#footer{
	text-align:center;
	width:900px;
	height:30px;
	padding-top: 15px;
	background-color: #F8F4E8;
	display: block;
	float: left;
	margin-bottom:20px;
	}
.whiteFill {
	height: 58px;
	width: 58px;
	margin: 1px;
	background-image: url(images/whiteFill.gif);
}.ablum {
	float: left;
	height: 300px;
	width: 300px;
}
.ablumCover {
	background-image: url(images/cover1.jpg);
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	margin-top: 0px;
	margin-right: 50px;
	margin-left: 50px;
}
.ablumdesc {
	line-height: 160%;
	text-align: center;
}
.ablumdesc a{
	color:#186297;
	font-size:14px;
	font-weight:bold;
	text-decoration:none
}
.ablumdesc a:hover{
	color:#186297;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline
}