/*
	 Auto Generating Photo Gallery
	 by Chris Coyier
	 http://css-tricks.com
*/

* {
	margin: 0;
	padding: 0;
}
a img, img {
	border: none;
}
.photo-link,.return-link {
	padding: 2px;
	margin: 4px;
	border: 1px solid #999;
	display: block;
	width: 120px;
	float: left;
}
.photo-link:hover,.return-link:hover {
	border-color: black;
}
#thumbs {
	height:auto;
	display:block;
	width:auto;
	margin:auto;
	padding-left:60px;
}
#basicInfo {
	text-align: right;
	margin-bottom: 10px;
}
#albumName{
	font-size:14px;
	color:#186297;
	margin-right:10px;
	margin-bottom:5px;
	font-weight:bold;
}
.album{
	font-size:14px;
	color:#186297;
	margin-bottom:2px;
	font-weight:bold;
	text-align:center;
}
.num{
	margin-bottom:10px;
	text-align:center;
}
.return{
	color:#186297;
	text-decoration:none;
}
a.return:hover{
	color:#498FA7;
	text-decoration:underline;
}
.gphoto-album-cover-frame{
    background:#d1d1d1;
	height:144px;
	margin:2px 0 6px 2px;
	position:relative;
	width:144px
}
.SPRITE_shadow{background:no-repeat url(images/lh_sprite.gif) -82px 0;width:152px;height:152px}
