

/* Internet Explorer 6 bug fixes */

blockquote{
  background: none;
}

#tabs a, #tabs a span, #tabs a span span,
#main-content ul.menu li a, #main-content ul.menu li a span, #main-content ul.menu li a span span {
 float:left;
 display: block;
}

.with-sidebar{
  margin-right: 336px;  /* sidebar width + some padding + IE6 extra padding */
}

#sidebar{
  margin-left: -340px;
  overflow: hidden;
}

#sidebar ul.nav{
  margin-top: 0px; /* no margin here because of IE d-m bug on "ul#sidelist li" */
}

#sidebar ul.nav li{
  position: static; /* wtf ? */
}

ul.nav a.rss{
  visibility: hidden;
}

/* WORDPRESS SPECIFIC STYLES */

div.act{
  top: 5px;
}

#commentnavi{
  display: block;
  margin: 40px 0 20px 0;
}

span.quote a:hover, span.reply a:hover, span.submit a:hover { background: transparent url(images/button-bg.png) no-repeat right bottom; }

span.editlink{
  display: none; /* hey... want to be able edit a post? GET THE FUCK ANOTHER BROWSER! */
}

