@charset "utf-8";
/* CSS Document */

body {
background-color:#000000
}
#middle #note2 #title2 {
	background-image: url(images/title2.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
#middle #note3 #title3 {
	background-image: url(images/title3.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

#middle .mainphoto td {
	height: 73px;
	width: 73px;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
}


#middle {
	background-color: #000000;
	background-image: url(photoBG.jpg);
	background-repeat: no-repeat;
	height: 1200px;
	width: 900px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#middle #header {
	height: 300px;
	width: 900px;
}
.mainphoto {
	width: 870px;
	padding-right: 30px;
	margin-right: 40px;
	text-align: right;
	word-spacing: 5px;
	line-height: 70px;
	height: 600px;
}
#middle #group2 {
	height: 500px;
}
.note {
	width: 900px;
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	text-indent: 5px;
	margin-right: 5px;
}
.catatitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #FFFFFF;
	text-align: right;
	font-weight: bold;
	height: 25px;
}
#middle #note1 #title1 {
	background-image: url(images/title1.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.cata {
	font-family: "宋体";
	font-size: 12px;
	line-height: 0px;
	color: #FFFFFF;
	text-align: right;
}
.cata a {
	font-family: "微软雅黑", "隶书";
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
