@charset "utf-8";
/* CSS Document */
.c4 {
	color:blue;
}
.c6 {
	color:green;
}
#footer {
	font-size: 12px;
	line-height: 140%;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Verdana, "宋体";
	text-align: center;
}
